*{
  box-sizing: border-box;
}
.shoe {
  display: inline;
}

.shoe * {
  padding: 5px;
}

.shoe h4 {
  display: inline;
}
.shoe .name{
  float: left;
}
.shoe .price{
  float:right;
  margin-right: 10px;
}
div.shoe-img {
  display: flex;
  justify-content: center;
}

div.shoe-img img{
  width: 159px;
  height: 159px;
}

.nav li {
  padding: 0;
}
