<div ng-controller="reviewController">
    <!-- <input type="hidden" ng-model="newReview.date"> -->
    <input ng-model="review.author" type="text" name="author" value="" placeholder="Your Name"><br>
    Rating:
    <select ng-model="review.rating" class="" name="rating">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
      <option value="10">10</option>
    </select><br>
    <textarea form="{{shoe.name}}-review" ng-model="review.text" type="textarea" name="review" value="" placeholder="Your Thoughts"></textarea><br>
    <input ng-click="addReview(shoe)" type="submit" name="" value="Post review!" class="btn-submit btn">
  </form>
</div>
