
<div class="row">
  <h4 class="name">{{shoe.name}}</h4><h4 class="price">{{shoe.price | currency}}</h4>
</div>
<div class="row">
  <div class="shoe-img">
    <img ng-src="{{shoe.images.full}}">
  </div>
</div>
<div class="row" ng-controller="panelController">
  <ul class="nav nav-pills">
    <li ng-class="{active: tab === 1}"><a ng-click="selectTab(1)">Description</a></li>
    <li ng-class="{active: tab === 2}"><a ng-click="selectTab(2)">Specifications</a></li>
    <li ng-class="{active: tab === 3}"><a ng-click="selectTab(3)">Reviews</a></li>
  </ul>
  <div class="row panel-container">
    <div class="panel" ng-show="tab === 1">
      <h4>Description</h4>
      <p>{{shoe.description}}</p>
    </div>
    <div class="panel" ng-show="tab === 2">
      <h4>Specifications</h4>
      <blockquote>
        In Development
      </blockquote>
    </div>
    <div class="panel review" ng-show="tab === 3">
      <h4>Reviews</h4>
      <div class="" ng-repeat="rev in shoe.reviews">
        <div class="">
          Reviewed On: {{rev.date}}
        </div>
        <div class="">
          Reviewed By: {{rev.author}}
        </div>
        <div class="">
          Rating: {{rev.rating}}
        </div>
        <div class="review-text">
          "{{rev.txt}}"
        </div>
        <hr>
      </div>
      <div review-directive></div>
    </div>
  </div>
</div>
